<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helplogic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cerebro"
        android:label="HelpLogic!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PerfilActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.ExercicioLogica4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioLogica3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioLogica2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioLogica1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioLogica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioRepeticao4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioRepeticao3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioRepeticao2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercicioRepeticao1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExerciciosLogicaRepeticao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exercicio4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exercicio3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exercicio1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OQueEAlgoritimoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OQueELogicaDeProgramacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExisteLogicaNoDiaADiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OQueELogicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NocoesDeLogicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Exercicio2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExerciciosLogicaSelecaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExercitarLogicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AprenderLogicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AprenderOuExercitarLogicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>