<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helplogic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cerebro"
        android:label="HelpLogic!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.ExercicioLogica4"></activity>
        <activity android:name=".activity.ExercicioLogica3" />
        <activity android:name=".activity.ExercicioLogica2" />
        <activity android:name=".activity.ExercicioLogica1" />
        <activity android:name=".activity.ExercicioLogica" />
        <activity android:name=".activity.ExercicioRepeticao4" />
        <activity android:name=".activity.ExercicioRepeticao3" />
        <activity android:name=".activity.ExercicioRepeticao2" />
        <activity android:name=".activity.ExercicioRepeticao1" />
        <activity android:name=".activity.ExerciciosLogicaRepeticao" />
        <activity android:name=".activity.Exercicio4Activity" />
        <activity android:name=".activity.Exercicio3Activity" />
        <activity android:name=".activity.Exercicio1Activity" />
        <activity android:name=".activity.OQueEAlgoritimoActivity" />
        <activity android:name=".activity.OQueELogicaDeProgramacaoActivity" />
        <activity android:name=".activity.ExisteLogicaNoDiaADiaActivity" />
        <activity android:name=".activity.OQueELogicaActivity" />
        <activity android:name=".activity.NocoesDeLogicaActivity" />
        <activity android:name=".activity.Exercicio2Activity" />
        <activity android:name=".activity.ExerciciosLogicaSelecaoActivity" />
        <activity android:name=".activity.ExercitarLogicaActivity" />
        <activity android:name=".activity.AprenderLogicaActivity" />
        <activity android:name=".activity.AprenderOuExercitarLogicaActivity" />
        <activity android:name=".activity.Aprender" />
        <activity
            android:name=".activity.EscolhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>